.spredTitle{font-weight: bold;font-family:$title-fonts;margin-bottom: 10px;margin-top: 5px;}
.spreadText{font-weight:lighter;margin-bottom: 100px;}
.spreadImg{width: 500px;}

@include media(">phone", "<=tablet") { 
    .spreadImg{width: 300px;}
 }





