.spredTitle{font-weight: bold;font-family:$title-fonts;margin-bottom: 10px;margin-top: 5px;}
.spreadText{font-weight:lighter;margin-bottom: 100px;}
.spreadImg{width: 500px;}

@media (max-width: 575.98px) { 
    .spreadImg{width: 300px;}
 }





